.redo{
  background-color:#C0001A;
  max-width:5000px;
  max-height:500px;
  width:1350px;
  height:200px;
}
.blue{
  width: 1350px;
  height: 300px;
  display: flex;
  justify-content: center;
  background-color:#150253;
  /*margin-top: 100px;*/
}
.white{
  height:250px;
  width:250px;
  border-radius: 50%;
  background-color:snow;
  margin-top:20px;
  /*margin-top: -50px;*/
}
/*.blue{*/
/*  background-color:#150253;*/
/*  max-width:5000px;*/
/*  max-height:500px;*/
/*  width:700px;*/
/*  height:250px;*/
/*  position:relative;*/
/*}*/

/*.white{*/
/*  background-color:snow;*/
/*  max-width:500px;*/
/*  max-height:500px;*/
/*  width:100px;*/
/*  height:100px;*/
/*  margin:36%;*/
/*  border-radius:50%;*/
/*  position:fixed;*/
/*}*/

.redt{
  background-color:#C0001A;
  max-width:5000px;
  max-height:500px;
  width:1350px;
  height:200px;
}

